<h2>Lista de catergorias: </h2>
<hr />
<a href="/admin/categorias/add"><button class="btn btn-success">Nova categoria</button></a>

{{#each categorias}}
  <div class="card mt-4">
    <div class="card-body">
        <h4>Título: {{nome}}</h4>
        <h6>Slug: {{slug}}</h6><br>
        <Small>data de criação: {{date}}</Small><br>
      <a href="/admin/categorias/edit/{{_id}}"><button class="btn-sm btn btn-success mt-4">Editar categoria </button></a>
    </div>
  </div>
{{else}}

{{/each}}
