<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem-vindo ao Blog dos cria</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
    content or information.</p>
  <hr class="my-4">
  <p>Aqui você encotrará de tudo aquilo que precisa. Confira!</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>
<hr>
<h2 class="d-flex justify-content-center">Postagens recentes: <h2>
    {{#each postagens}}
    <div class="card mt-4">
      <div class="card-body">
        <h5> {{titulo}}</<h5><br>
          <small> Sobre: {{descricao}}</<small><br><br>
            <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
            <hr>
            <small class="lead"> {{conteudo}}</small>
            <br>
            <hr>
            <small>Tópico: {{categoria.nome}}</small><br>
            <Small>data de publicação: {{date}}</Small><br>
      </div>
    </div>
    {{else}}
    <h4 class="mt-3">Nenhuma postagem registrada!</h4>
    {{/each}}
